.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.registerForm {
  animation: fadeInRight 0.5s;
  display: flex;
  flex-direction: column;
}

.registerForm > h1 {
  color: white;
  font-size: 45px;
  margin-top: 0;
}

.registerForm > input {
  width: 400px;
  height: 30px;
  margin: 5px 0;
  padding: 0 25px;
  border: none;
  outline: none;
}

.registerForm > .buttons {
  width: 450px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registerForm > .buttons > button {
  width: 450px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #90827a;
  color: white;
  border: 1.5px solid #90827a;
  transition: all 0.5s;
}

.registerForm > .buttons > button:hover {
  transition: all 0.5s;
  background: none;
  border: 1.5px solid #90827a;
  color: white;
}
