.authButtons {
  animation: fadeInLeft 0.5s;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.authButtons > a {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  /* background-color: #2b6478; */
  color: white;
  /* border: 1.5px solid #2b6478; */
  transition: all 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
  text-decoration: underline;
}

.authButtons > a:hover {
  transition: all 0.5s;
  background: none;
}

@media screen and (max-width: 320px) {
  .authButtons {
    animation: fadeInRight 0.5s;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
  }

  .authButtons > a {
    width: calc(100% / 3);
  }
}
