.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.logInForm {
  animation: fadeInRight 0.5s;
  display: flex;
  flex-direction: column;
}

.logInForm > h1 {
  color: white;
  font-size: 45px;
  margin-top: 0;
}

.logInForm > p {
  color: white;
}

.logInForm > .input {
  background: none;
  width: 400px;
  height: 40px;
  padding: 0 25px;
  margin: 5px 0;
}

.logInForm > input {
  width: 400px;
  height: 40px;
  margin: 5px 0;
  padding: 0 25px;
  border: none;
  outline: none;
}

.logInForm > button {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2b6478;
  color: white;
  border: 1.5px solid #2b6478;
  transition: all 0.5s;
}

.logInForm > button:hover {
  transition: all 0.5s;
  background: none;
  color: white;
}

.logInForm > a {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  text-decoration: underline;
}
