.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.about {
  animation: fadeInDown 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 200px;
}

.about > h1 {
  color: white;
  font-size: 50px;
}

.about > p {
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .about > {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .about > h1 {
    font-size: 30px;
  }

  .about > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .about > h1 {
    font-size: 30px;
  }

  .about > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about > {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .about > h1 {
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  .about > p {
    width: 300px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .about > {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .about > h1 {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .about > p {
    width: 300px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}
